.page.theme_light {
  --title-text-shadow-color: #ff0070;
  --title-color:#353430;
  --navigation-color:#353430;
  --text-color: #353430;
  --bg-color-subtitle:#ff8dcb;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --heading-color: #ffc2e6;
  --footer-color: #ffc2e6;
  --link-decoration: #FF8DCB;
  --border:1px solid #353430;
  --border-hover-color:rgba(50, 49, 45, 0.4);

  --background-hero: url('../images/cover-image-light.png');
  --rec-decor-visibility: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
      --title-text-shadow-color: #ff0070;
      --title-color:#353430;
      --navigation-color:#353430;
      --text-color: #353430;
      --bg-color-subtitle:#ff8dcb;
      --link-decoration: #FF8DCB;
      --bg-color: #fff1f7;
      --border-hover-color:rgba(50, 49, 45, 0.4);
      --subtitle-color: #353430;
      --heading-color: #ffc2e6;
      --footer-color: #ffc2e6;
      --border:1px solid #353430;
    
      --background-hero: url('../images/cover-image-light.png');
      --rec-decor-visibility: hidden;
    }
}
